<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<script src="/base.js"></script>

<div th:replace="fragments/header :: header"></div>

<main>
    <section class="page-width" style="width: 30%;">
        <div class="box">
            <div class="tab-bar">
                <button class="tab active" data-tab="loginTab">Login</button>
                <button class="tab" data-tab="signupTab">Signup</button>
            </div>
            <div id="loginTab" class="tab-content active">
                <!-- LOGIN -->
                <div class="box">
                    <input id="login_user" placeholder="Username">
                    <input id="login_pass" type="password" placeholder="Password">
                    <button onclick="login()">Login</button>
                </div>
                <div class="box">
                    <input id="emailToResetPassword" placeholder="Email for pw reset">
                    <button onclick="requestPasswordReset()">Request Password Reset</button>
                </div>
            </div>
            <div id="signupTab" class="tab-content">
                <!-- SIGNUP -->
                <div class="box">
                    <input id="signup_user" placeholder="Username">
                    <input id="signup_mail" placeholder="Email">
                    <input id="signup_pass" type="password" placeholder="Password">
                    <button onclick="signup()">Signup</button>
                </div>

                <div class="box">
                    <input id="emailToVerify" placeholder="Email to Verify">
                    <button onclick="requestEmailVerification()">Request Token</button>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>

<script>
    const params = new URLSearchParams(window.location.search);
    const re = params.get("re");

    window.addEventListener("load", () => {
        bootstrapSession({});
    });
    EventBubbleBus.addEventListener("auth:login", async() => {
        setTimeout(() => {
            window.location.replace(re?re:"/");
        }, 1500);

    });

    async function signup() {
        try {
            const body = {
                username: signup_user.value,
                email: signup_mail.value,
                password: signup_pass.value,
                captchaToken: "dummy-test"
            };

            const res = await api("/auth/signup", "POST", body, false);
            notify("Created: " + JSON.stringify(res, null, 2));
            await requestEmailVerification(signup_mail.value);
            document.querySelector('[data-tab="loginTab"]').click();
        } catch (e) { notify(e); }
    }

    async function login() {
        try {
            const data = await api("/auth/login", "POST", {
                username: login_user.value,
                password: login_pass.value
            }, false);

            saveTokens(data.accessToken, data.refreshToken);
            notify("Welcome "+data.benutzerDTO.username+"! Redirecting...");
            EventBubbleBus.dispatchEvent(
                new CustomEvent("auth:login")
            );
        } catch (e) { notify(e); }
    }

    async function requestEmailVerification(email = null) {
        if(email===null){
            email=emailToVerify.value;
        }
        if (!email || email.trim() === "") {
            notify("Please enter the email of the account you want to verify", "warn");
            return;
        }
        try{
            await api("/auth/request-email-verification?email="+encodeURIComponent(email), "POST", null, false);
            notify("Verification email requested for \""+email+"\"");
        }catch (e) { notify(e); }
    }

    async function requestPasswordReset() {
        const email=emailToResetPassword.value;
        if (!email || email.trim() === "") {
            notify("Please enter the email of the account you want to reset the password of", "warn");
            return;
        }
        try{
            await api("/auth/request-password-reset?email="+email, "POST", null, false);
            notify("Password Reset requested for \""+email+"\"");
        }catch (e) { notify(e); }
    }
</script>
</body>
</html>