<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Map</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
    <script src="/base.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <div th:replace="fragments/header :: header"></div>

    <main>
        MAP
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script>

    </script>
</body>
</html>